.line {
  border-top: 2px solid #B4B4B4;
  width: 600px;
}

.info-resumen-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  color: #003B4F;
}

.info-resumen {
  margin: 6px 20px 6px 20px;
}

.bold-title {
  font-weight: bold;
}

.gap {
  margin-top: 35px;
}

.action-btns{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px;
}