.containerRegistration{
  display: flex;
  flex-direction: column;

}
.containerText{
  display: flex;
  flex-direction: column;
}

.title{
position: absolute;
width: 484px;
height: 101px;
left: 482px;
top: 118px;
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 60px;
color: #27292C;
margin: 0px;
}
.intruccion2{
  position: absolute;
width: 679px;
height: 100px;
left: 482px;
top: 208px;

/* H4 */

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

/* NEGRO IMPURO */

color: #27292C;
}
.intruccionStart{
  position: absolute;
  width: 650px;
  height: 100px;
  left: 482px;
  top: 287px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #003B4F

}

.containerOption{
  position: relative;
width: 298px;
height: 281px;
left: 482px;
top: 400px;

/* Efecto botón */

box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
background: #4FAFC5;
border-radius: 20px;
margin-right: 83px;


/* H3 */

font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;

/* GRIS */

color: #F9F9F9
}
.containerOption:focus{
  outline: brown 2px solid;
}

.containerButtonOptions{
  display: flex;
  flex-direction: row;
}
.titleOption{
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #F9F9F9;
  margin-bottom: 0px;
  text-align: left;
  margin-left: 30px;
}
.add{

left: 9.4%;
right: 9.4%;
top: 30.6%;
bottom: 9.96%;
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
color: #F9F9F9;
text-align: left;
margin-left: 30px;
}

hr{
  border: 1px solid #F9F9F9;
  width: 250px;
}




