.containerAdd{
  position: relative;
    width: 262px;
    height: 173px;
    left: 54px;
    top: 54px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-right: 50px
}

.accountName{
  position: absolute;
  left: 9.59%;
  right: 28.5%;
  top: 13.87%;
  bottom: 66.98%;
  
  /* P BTN */
  
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  
  /* AZUL PRINCIPAL */
  
  color: #003B4F;
}

.accountNumber{
  position: absolute;
  font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
color: #003B4F;
margin-top: 25px;
}

.totalPrice{
  position: absolute;
left: 9.4%;
right: 9.4%;
top: 54.45%;
bottom: 28.47%;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
color: #4FAFC5;
margin-top: 10px;
}
.price{
  position: absolute;
  left: 22.67%;
  right: 36.78%;
  top: 63.55%;
  bottom: 17.3%;
  
  /* P */
  
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  
  /* NEGRO IMPURO */
  
  color: #27292C
}

.addPrice{
  position: absolute;
left: 10.4%;
right: 27.52%;
top: 79.72%;
bottom: 5.69%;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
color: #003B4F;
}

.Logo{
  
position: absolute;

justify-content: center;
bottom: 13.31%;
right: 9.85%;
    top: 10.87%;

background: #C4C4C4;
border-radius: 5px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
width: 55px;
height: 55px;
}

.containerLogo{
  display: flex;
}
.inputCheckbox{
  position: absolute;
left: 72.82%;
right: 13.42%;
top: 79.72%;
bottom: 5.69%;
}

.summary{
  /* position: absolute;
width: 374px;
height: 521px;
left: 1019px;
top: 243px;
background: #E3AB14;
border-radius: 5px; */
position: absolute;
/* left: 0%;
right: 0%;
top: 0%;
bottom: 0%; */

/* BLANCO */

background: #FFFFFF;
/* AZUL PRINCIPAL */

border: 2px solid #003B4F;
box-sizing: border-box;
border-radius: 15px 15px 0px 0px;
width: 374px;
height: 648px;
left: 1019px;
top: 100px;
margin-left: 100px;
}
.pr{
  
    left: 400px;
    display: flex;
    flex-wrap: wrap;
    
    position: relative;
    top: 50px;
    height: 500px;
    width: 800px;
}


.addedtoPay{
  background: #003B4F;
border-radius: 15px 15px 0px 0px;
width: 370px;
height: 66px;
left: 0%;
right: 0%;
top: 0%;
bottom: 89.81%;
margin: 0px;
font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;
display: flex;
justify-content: center;

/* BLANCO */

color: #FFFFFF;
}
.summaryText{
width: 298px;
height: 75px;
position: relative;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* BLANCO */

background: #FFFFFF;
/* TURQUEZA */

border: 1px solid #4FAFC5;
box-sizing: border-box;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
border-radius: 15px;
margin-left: 38px;
margin-top: 24px
}

.elementAccountName{
  color:#4FAFC5;
  font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
margin-left: 23px;
}

.elementAccountNumber , .price2{
  
  margin-top: 10px;

font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
margin-left: 24px;
margin-top: 5px;


}
.containerNumber{
  display: flex;
  flex-direction: row;
}

.inputPassword{
  
  position: absolute;

  bottom: 48px;
  margin-left: 34px;
  background: #FFFFFF;
  border: 2px solid #4AC91E;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 307px;
  height: 107px;
}
select{
  
position: absolute;
width: 307px;
height: 83px;
/* left: 1083px; */
top: 376px;
margin-left: 34px;
background: #FFFFFF;
/* AZUL PRINCIPAL */

border: 2px solid #003B4F;
box-sizing: border-box;
border-radius: 5px;
}
.search{
  position: absolute;
width: 560px;
height: 72px;
left: 454px;
top: 59px;
background: #FFFFFF;
/* AZUL PRINCIPAL */

border: 2px solid #003B4F;
box-sizing: border-box;
border-radius: 20px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;

/* AZUL PRINCIPAL */

color: #003B4F;
padding-left: 30px;
}

.svgImg{
  position: absolute;
left: 9.59%;
right: 80.82%;
top: 66.85%;
bottom: 19.94%;
}

#aproved{
  position: absolute;
  left: 34.58%;
  right: 34.92%;
  top: 28.9%;
  bottom: 47.87%;
}

#aproved2{
  position: absolute;
    left: 23%;
    right: 16.61%;
    top: 30.08%;
    bottom: 35.91%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #003B4F;
}
.page{
  font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 60px;

/* AZUL PRINCIPAL */

color: #003B4F;
margin-left: 450px;
    margin-bottom: 0px;
}
