.containerAside{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 383px;
  height: 927px;
  left: 0px;
  top: -1px;
  background: #FFFFFF;
 box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

}

.buttonAside{

left: 9.92%;
right: 9.92%;
top: 48.44%;
bottom: 42.07%;
background: #003B4F;
border-radius: 5px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
width: 307px;
height: 88px;
margin-bottom: 48px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
text-align: center;
display: flex;
align-items: center;
text-align: center;
color: #F9F9F9;
margin-left: 38px;
justify-content: center
}

.welcome{
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #003B4F;
  margin-left: 38px;
  margin-top: 69px;
  margin-bottom: 0px;
  
  }
  .nameUser{
    left: 9.92%;
    right: 9.92%;
    top: 14.67%;
    bottom: 76.05%;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    display: flex;
    align-items: center;
    color: #27292C;
    margin-left: 38px;
    margin-top: 16px
    }


